@using Vidly.Models

@model List<Customer>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Klienci</h2>

<table id ="customers" class="table table-bordered table-hover">
    <thead>
    <tr>
        <th>Klient  </th>
        <th>Membership type</th>
        <th>Delete</th>
                    
    </tr>
    </thead>
    <tbody>

    </tbody>

</table>

<p><a class="btn btn-default" href="@Url.Action("New", "Customers")">Nowy klient &raquo;</a></p>
       
@section scripts
{
    <script>
        $(document).ready(function () {
            var table = $("#customers").DataTable({
                ajax: {
                    url: "/api/customers",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "name",
                        render: function(data, type, customer) {
                            return "<a href='/customers/edit/" + customer.id + "'>" + customer.name
                        }
                    },
                    {
                        data: "membershipType.name"
                    },
                    {
                        data: "id",
                        render: function(data) {
                            return "<button class='btn-link js-delete' data-customer-id=" + data + ">Delete</button>"
                        }
                    }
                ]
            });


            $("#customers").on("click", ".js-delete",
                function () {
                    var button = $(this)
                    bootbox.confirm("Czy jesteś pewny, że chcesz skasować tego klienta", function(result) {
                        if (result) {
                            $.ajax({
                                url: "/api/customers/" + button.attr("data-customer-id"),
                                method: "DELETE",
                                success: function () {
                                    table.row(button.parent("tr")).remove().draw();                                  
                                }
                            });
                        }
                    })
                });
        });
    </script>
}