@using Vidly.Models

@model List<Customer>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Klienci</h2>
@{
    if (@Model.Count == 0)
    {
        <p>Nie mamy w tym momencie żadnych klientów.</p>
    }
    else
    {
        <table class="table table-bordered table-hover">
            <thead>
            <tr>
                Customer
            </tr>
            </thead>
            <tbody>
            @foreach (Customer cust in Model)
            {

                <tr>
                    <td>@Html.ActionLink(@cust.Name, "GetCustomer", "Customers", new { id = @cust.Id }, null)</td>
                </tr>
                
                
            }
            </tbody>

        </table>
    }

}

       
